// BOT
@mixin bot-fot {
  font-family: "VT323", monospace;
  // font-family: "Share Tech Mono", monospace;
}

// HUMAN
@mixin vip-font {
  // font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-style: italic;
}

// APP
@mixin app-font {
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
}

// ? Mono
/*
.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
*/

/*
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

// SPace Mono
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
*/
// ? Human

/*

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.merriweather-sans-<uniquifier> {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.contrail-one-regular {
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.sansita-swashed-<uniquifier> {
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 1 to 1000

.sofia-sans-semi-condensed-<uniquifier> {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/