@import './colours.scss';
@import './sizes.scss';

.quotes {
  display: flex;
  text-align: center;
}

.cover-logo {
  width: 140px;
  rotate: 180deg;
  // margin: 0 auto;
}
.authForm {
  text-align: center;
  width: 100vw;

  h1 {
    display: none;
  }

  form {
    width: $viewWidth;
  }
}

label {
  // display: none;
}

input,
.authForm button {
  display: block;
  margin: 0 auto;
}

input {
  width: 80%;
  background-color: $colourTransparent;
  border: 5px solid $colourCream7;
  text-align: center;
  box-sizing: border-box;
  color: $colourConsole;
  font-size: 1.3em;
  overflow: visible;
}

input,
input:focus,
.authForm button {
  opacity: 80%;
  padding: 0.8em;
  border-radius: 2em;
  outline: none;
}

.authForm button {
  cursor: pointer;
  border: 0;
  font-size: 1.1em;
  width: 40%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $colourSteel;
  opacity: 65%;
}

.authForm button:hover {
  background-color: $colourSteel;
  color: $colourCream;
}

input[type=checkbox]{
border: 10px solid black;
}